.form {
    padding: 0 1rem;
    margin-bottom: 4rem;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.formGroup label {
    display: flex;
    flex-direction: column;
}

.formGroup label span {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.formGroup label p {
    margin-bottom: 0;
}

.required span::after {
    content: '(required)';
}

.required span::after,
.charCounter {
    margin-left: 0.25rem;
    font-size: 90%;
    font-weight: 300!important;
    opacity: 0.6;
}

.formGroup input, .formGroup textarea, .formGroup select {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    border-radius: 18px;
    font-size: 100%;
    font-weight: 300;
    box-shadow: 0 1px 6px rgba(60, 64, 67, .28);
    padding: 0.5rem 1rem;
}

.formGroup input:focus, .formGroup textarea:focus, .formGroup select:focus {
    box-shadow: 0 4px 10px rgba(60, 64, 67, .28);
}

.formGroup textarea {
    resize: none;
}

.formGroup select {
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 5px;
}

.form input[type="submit"] {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    border-radius: 18px;
    font-size: 100%;
    background-color: #1de9b6;   
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    width: 100%;
    padding: 0.75rem 1rem;
}

.form input[type="submit"]:hover, .form input[type="submit"]:focus {
    background-color: #4aedc4;
}

.dragMarkerOnMapInfo {
    display: flex;
    align-items: center;
    border: 2px solid #2979ff;
    color: #2979ff;
    border-radius: 18px;
    margin-top: 1rem!important;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem!important;
}

.dragMarkerOnMapInfo span[class^="icon-"] {
    margin-right: 1rem;
    font-size: 1.25rem;
}