.contentWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    margin-top: 70vh;
}

@media (min-width: 768px) {
    .contentWrapper {
        width: 375px;
        margin-top: 0;
    }
}

.content {
    background-color: white;
    padding-top: 1.5rem;
    padding-right: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
    padding-left: env(safe-area-inset-left, 0);
}

@media (min-width: 768px) {
    .content {
        height: 100%;
        overflow: auto;
        scrollbar-width: thin;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        padding-top: calc(env(safe-area-inset-top, 0) + 84px);
        padding-bottom: calc(env(safe-area-inset-bottom, 0) + 1.5rem);
    }
}

.content h1, .content h2, .content p {
    margin-top: 0;
    padding: 0 1rem;
}