.countrySelect {
    position: relative;
    flex: 1;
    padding-left: 1rem;
}

.countryInputGroup {
    position: relative;
}

.countryInputGroup label {
    display: none;
}

.countryInputGroup span {
    position: absolute;
    right: 1.5rem;
    top: 10px;
    opacity: 0.5;
}

.countryInput {
    border: 0;
    outline: 0;
    width: 100%;
    height: 36px;
    border-radius: 18px;
    padding: 0 3rem 0 1.5rem;
    font-size: 100%;
    font-weight: 300;
    box-shadow: 0 1px 6px rgba(60, 64, 67, .28);
}

.countryInput:focus {
    box-shadow: 0 4px 10px rgba(60, 64, 67, .28);
}

.countryInput::placeholder {
    opacity: 0.5;
}

.countriesList {
    display: none;
    position: absolute;
    top: 4rem;
    left: 1rem;
    right: 1rem;
    max-height: 80%;
    background-color: white;
    overflow: hidden;
    border-radius: 18px;
    padding: 1.5rem 0;
}

.countriesList ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.countriesList ul li {
    width: 100%;
    text-align: center;
}

@media(min-width: 420px) {
    .countriesList ul li {
        width: 50%;
    }
}

@media(min-width: 992px) {
    .countriesList ul li {
        width: 25%;
    }
}

@media(min-width: 1200px) {
    .countriesList ul li {
        width: 20%;
    }
}

@media(min-width: 1600px) {
    .countriesList ul li {
        width: 12.5%;
    }
}

.countriesList ul li a {
    justify-content: center;
}

.countrySelectOpen {
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.countriesListOpen {
    display: flex;
}