.filterBar {
    position: absolute;    
    top: 80px;
    left: 0;
    right: 0;
    margin-top: env(safe-area-inset-top, 0);
    overflow: hidden;
    z-index: 1002;
    /*display: flex;*/
    display: none;
}

.filterBar swiper-slide {
    width: fit-content;
}

@media (min-width: 768px) {
    .filterBar {
        top: 0;
        left: 375px;
    }
}

@media (min-width: 1200px) {
    .filterBar {
        left: 420px;
    }
}

@media (min-width: 1400px) {
    .filterBar {
        left: 480px;
    }
}