.filterBar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1002;
    display: flex;
}

@media (min-width: 768px) {
    .filterBar {
        top: 0;
        left: 375px;
    }
}