.linkList li a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: white;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.linkList li a:hover,
.linkList li a:focus {
    background-color: whitesmoke;
    font-weight: 500;
}