.loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30vh;
    right: 0;
    background-color: #1de9b6;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .loaderContainer {
        left: 375px;
        bottom: 0;
    }
}