.mapWrapper {
    flex: 1 1 0%;
    height: 70vh;
}

@media (min-width: 768px) {
    .mapWrapper {
        height: 100vh;
    }
}

.popupText {
    display: -webkit-box;    
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}