.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: env(safe-area-inset-top);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1003;
}

@media (min-width: 768px) {
    .navigation {
        width: 375px;
        padding: 1rem 1.5rem 1rem 1rem;
    }
}

.backButton {
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 120%;
    /* to show above map, z-index needs to be > 400 */
    z-index: 1002;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    background-color: #2979ff;
    color: white;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .backButton {
        width: 36px;
        height: 36px;
    }
}

.backButton:hover, .backButton:focus {
    background-color: #1c54b2;
}