.aboutPage h1, .aboutPage h2, .aboutPage p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.aboutPage p {
    line-height: 1.5rem;
}

.aboutPage ul {
    list-style-type: disc;
    padding-left: 2rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

.aboutPage a {
    text-decoration: underline;
}

.backToHomepageLink {
    display: inline-block;
    margin-top: calc(env(safe-area-inset-top, 1rem) + 1rem);
    margin-bottom: calc(env(safe-area-inset-bottom, 1rem) + 1rem);
    margin-left: calc(env(safe-area-inset-left, 1rem) + 1rem);
    margin-right: calc(env(safe-area-inset-right, 1rem) + 1rem);
}