.aboutPage h1, .aboutPage h2, .aboutPage p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.aboutPage p {
    line-height: 1.5rem;
}

.aboutPage ul {
    list-style-type: disc;
    padding-left: 2rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

.aboutPage a {
    text-decoration: underline;
}

.backToHomepageLink {
    display: inline-block;
    margin: 1rem;
}