.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #1de9b6;
    position: relative;
    color: white;
}

.welcome h1 {
    color: white;
    font-size: 2.25rem;
}

.loaderIconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderIconWrapper span[class^='icon-'] {
    position: absolute;
    font-size: 5rem;
    color: white;
}

.aboutLinkContainer {
    position: absolute;
    bottom: 2rem;
}

.belowFold {
    padding: 1rem 0 2.5rem 0;
}

.belowFold h2 {
    text-align: center;
    padding: 0 1rem;
}

.belowFold ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.belowFold ul li {
    width: 100%;
    text-align: center;
}

@media(min-width: 420px) {
    .belowFold ul li {
        width: 50%;
    }
}

@media(min-width: 992px) {
    .belowFold ul li {
        width: 25%;
    }
}

@media(min-width: 1200px) {
    .belowFold ul li {
        width: 20%;
    }
}

.belowFold ul li a {
    justify-content: center;
}