.disclaimer {
    display: flex;
    align-items: center;
    border: 2px solid #2979ff;
    color: #2979ff;
    border-radius: 18px;
    margin-top: 1rem!important;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem!important;
}

.disclaimer span[class^="icon-"] {
    margin-right: 1rem;
    font-size: 1.25rem;
}

.disclaimerText {
    font-size: 90%;
}

.locationDescription {
    padding: 0 1rem;
    margin: 0;
    line-height: 1.5rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
}